@tailwind base;
@tailwind components;
@tailwind utilities;
:root ,
#root,
#docs-root {
  --blue: #1e90ff;
  --white: #ffffff;
  --light-green:#19592A;
  --bold-green:#214030;
  --light-purple:#703D84;
  --bold-purple:#522276;
  --word-purple:#8800CA;
  --success:#17c964

}
/* bitton */
.button {
  --width: 120px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 1.4em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;

}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}




/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* for the header animation transition */
.header{
  transition: all ease-out 0.4s;
}
.reveal-vertical {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

.reveal-horizontal-left {
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-horizontal-left.activation {
  transform: translateX(0);
  opacity: 1;
}

.reveal-horizontal-right {
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-horizontal-right.activation {
  transform: translateX(0);
  opacity: 1;
}

/* for the hero section  */

.hero-vertical {
  transform: translateY(80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}

.hero-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

.hero-horizontal-left {
  transform: translateX(-80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out;
}

.hero-horizontal-left.activation {
  transform: translateX(0);
  opacity: 1;
}

.hero-horizontal-right {
  transform: translateX(80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}

.hero-horizontal-right.activation {
  transform: translateX(0);
  opacity: 1;
}
/* for the navbar */
.top-vertical{
  transform: translateY(-50px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}
.top-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}